#formcontrol{
    margin-left: 10%;
    text-align: center;
}

#formcontrol2{
    
    margin-left: 15%;
}


#buttonControl{
    width: 50%;
}

.buttonPrev{
    height: 100%;
    width: 80%;
    display: inline-block;
    background-color: #FFFFFF;
    border: 2px solid #2F70B8; 
    color: #2F70B8;
    border-radius: 5px;
    text-align: center;
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 16px;
  }

.buttonNext{
  height: 100%;
  width: 80%;
  display: inline-block;
  background-color: #2F70B8; 
  border: 2px solid #2F70B8;  
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  padding: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 16px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.formWrapper{
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  max-width: 50vh;
  min-width: 100vh;
  max-height: 100vh;
  min-height: 50vh;
  padding: 5vh;    
  box-shadow: 0px 0px 2px #222;
  background-color: #fefefe;
}